In [8]:
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy import stats

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [6]:
grass_df= df[df["Type 1"]=="Grass"]["HP"]
dragon_df= df[df["Type 1"]=="Dragon"]["HP"]

In [11]:
t_stat, p_value = stats.ttest_ind(grass_df, dragon_df, equal_var=False, alternative = "greater")
alpha = 0.05 
if p_value < alpha:
    print("Reject null hypothesis: There is a significant difference (one-sided).")
else:
    print("Fail to reject null hypothesis: There is no significant difference (one-sided).")

Fail to reject null hypothesis: There is no significant difference (one-sided).

We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [14]:
legendary_HP_df= df[df["Legendary"]=="True"]["HP"]
non_legendary_HP_df= df[df["Legendary"]=="False"]["HP"]

In [15]:
t_stat, p_value = stats.ttest_ind(legendary_HP_df, non_legendary_HP_df, equal_var=False)
alpha = 0.05 
if p_value < alpha:
    print("Reject null hypothesis: There is a significant difference (one-sided).")
else:
    print("Fail to reject null hypothesis: There is no significant difference (one-sided).")

Fail to reject null hypothesis: There is no significant difference (one-sided).

In [16]:
legendary_attack_df= df[df["Legendary"]=="True"]["Attack"]
non_legendary_attack_df= df[df["Legendary"]=="False"]["Attack"]

In [17]:
t_stat, p_value = stats.ttest_ind(legendary_attack_df, non_legendary_attack_df, equal_var=False)
alpha = 0.05 
if p_value < alpha:
    print("Reject null hypothesis: There is a significant difference (one-sided).")
else:
    print("Fail to reject null hypothesis: There is no significant difference (one-sided).")

Fail to reject null hypothesis: There is no significant difference (one-sided).

In [18]:
legendary_defense_df= df[df["Legendary"]=="True"]["Defense"]
non_legendary_defense_df= df[df["Legendary"]=="False"]["Defense"]

In [19]:
t_stat, p_value = stats.ttest_ind(legendary_defense_df, non_legendary_defense_df, equal_var=False)
alpha = 0.05 
if p_value < alpha:
    print("Reject null hypothesis: There is a significant difference (one-sided).")
else:
    print("Fail to reject null hypothesis: There is no significant difference (one-sided).")

Fail to reject null hypothesis: There is no significant difference (one-sided).

The Legendary Pokemons have a difference that is not statistical significant when comparing with Non-Legendary.

Challenge 2

In this challenge, we will be working with california-housing data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [20]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

We posit that houses close to either a school or a hospital are more expensive.

School coordinates (-118, 37)
Hospital coordinates (-122, 34)
We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:

Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
Divide your dataset into houses close and far from either a hospital or school.
Choose the propper test and, with 5% significance, comment your findings.

In [25]:
def euclidean_distance(long1, lat1, long2, lat2):
    return np.sqrt((long2 - long1)**2 + (lat2 - lat1)**2)
school_coords = (-118, 37)
hospital_coords = (-122, 34)
def classify_distance(longitude, latitude):
    distance_to_school = euclidean_distance(longitude, latitude, school_coords[0], school_coords[1])
    distance_to_hospital = euclidean_distance(longitude, latitude, hospital_coords[0], hospital_coords[1])
    if distance_to_school < 0.50 or distance_to_hospital < 0.50:
        return "Close"
    else:
        return "Far"

In [26]:
df["Distance"] = df.apply(lambda row: classify_distance(row["longitude"], row["latitude"]), axis=1)

In [33]:
close_df=df[df["Distance"]=="Close"]["median_house_value"]
far_df=df[df["Distance"]=="Far"]["median_house_value"]

In [34]:
t_stat, p_value = stats.ttest_ind(close_df, far_df, equal_var=False)
alpha = 0.05 
if p_value < alpha:
    print("Reject null hypothesis: There is a significant difference (one-sided).")
else:
    print("Fail to reject null hypothesis: There is no significant difference (one-sided).")

Reject null hypothesis: There is a significant difference (one-sided).