# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [3]:
df_grass = df[df['Type 1'] == 'Grass']['HP']
df_dragon = df[df['Type 2'] == 'Dragon']['HP']

In [4]:
#H0 mu_HP dragon = mu_HP grass
#H1 mu_HP dragon != mu_HP grass

In [5]:
alpha  = 0.05

In [6]:
t_stat, p_value = st.ttest_ind(df_grass, df_dragon)

In [7]:
if p_value < alpha:
    print('Hay suficiente evidencia para sugerir que la media de HP para los Pokemons tipo Dragon es mayor que la de los tipo Grass')
else:
    print('No hay suficiente evidencia para sugerir que la media de HP para los Pokemos tipo Dragon es mayor que la de los tipo Grass')

Hay suficiente evidencia para sugerir que la media de HP para los Pokemons tipo Dragon es mayor que la de los tipo Grass

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [11]:
# Función para calcular la distancia euclidiana

def euclidean_distance(x1, y1, x2, y2):
    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2)

In [12]:
# Coordenadas de la escuela y el hospital

school_coords = (-118, 37)
hospital_coords = (-122, 34)

In [19]:
# Calcular distancia de cada casa a la escuela y al hospital
df['distance_to_school'] = euclidean_distance(df['longitude'], df['latitude'], school_coords[0], school_coords[1])
df['distance_to_hospital'] = euclidean_distance(df['longitude'], df['latitude'], hospital_coords[0], hospital_coords[1])

In [14]:
# Dividir el conjunto de datos en casas cercanas y lejanas a la escuela o al hospital

close_to_school_or_hospital = df[(df['distance_to_school'] < 0.50) | (df['distance_to_hospital'] < 0.50)]
far_from_school_or_hospital = df[(df['distance_to_school'] >= 0.50) & (df['distance_to_hospital'] >= 0.50)]

In [20]:
# Realizar la prueba t de Student
t_stat, p_value = st.ttest_ind(close_to_school_or_hospital['median_house_value'], far_from_school_or_hospital['median_house_value'])

In [21]:
# Comentar los hallazgos
alpha = 0.05
if p_value < alpha:
    print("Hay evidencia estadística significativa para rechazar la hipótesis nula.")
    print("Las casas cercanas a la escuela o al hospital son significativamente más caras.")
else:
    print("No hay evidencia estadística significativa para rechazar la hipótesis nula.")
    print("No se puede concluir que haya una diferencia significativa en los precios de las casas.")

Hay evidencia estadística significativa para rechazar la hipótesis nula.
Las casas cercanas a la escuela o al hospital son significativamente más caras.