# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [26]:
#Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [40]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [24]:
#code here
#Set the hypothesis

#H0: mu_health_dragon type = mu_health_grass type
#H1: mu_health_dragon type != mu_health_grass type
#significance level = 0.05
df_dragon = df[df["Type 1"]=="Dragon"]["HP"]
df_grass = df[df["Type 1"]=="Grass"]["HP"]
alpa = 0.05

st.ttest_ind(df_dragon,df_grass, equal_var=False)

TtestResult(statistic=3.3349632905124063, pvalue=0.0015987219490841192, df=50.83784116232685)

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [46]:
#code here
# Set the hypothesis 

#H0: mu_legendary_stats = mu_normal_stats
#H1: mu_legendary_stats != mu_normal_stats

mu_legendary_stats = df[df['Legendary']==True][['HP', 'Attack', 'Defense', 'Sp. Atk','Sp. Def', 'Speed']]
mu_normal_stats = df[df['Legendary']==False][['HP', 'Attack', 'Defense', 'Sp. Atk','Sp. Def', 'Speed']]

st.ttest_ind(mu_legendary_stats,mu_normal_stats, equal_var=False)
#Legendary pokemon have different stats from normal pokemon.

TtestResult(statistic=array([ 8.98137048, 10.43813354,  7.63707816, 13.41744998, 10.01569661,
       11.47504445]), pvalue=array([1.00269117e-13, 2.52037245e-16, 4.82699849e-11, 1.55146141e-21,
       2.29493279e-15, 1.04901631e-18]), df=array([79.52467831, 75.88324448, 77.71095111, 74.24631138, 73.25892564,
       81.62110996]))

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [60]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [63]:
import math

def euclidean_distance(x1, y1, x2, y2):
    return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

In [70]:
# Define the coordinates of the school and hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Define the threshold distance
threshold_distance = 0.50
alpha = 0.05
# Create an empty list to store the True/False values
close_to_hs = []

# Calculate the distances for each house and determine if it's close to a school or hospital
for index, row in df.iterrows():
    house_coords = (row['longitude'], row['latitude'])
    distance_to_school = euclidean_distance(school_coords[0], school_coords[1], house_coords[0], house_coords[1])
    distance_to_hospital = euclidean_distance(hospital_coords[0], hospital_coords[1], house_coords[0], house_coords[1])
    
    # Check if the house is close to a school or hospital
    if distance_to_school < threshold_distance or distance_to_hospital < threshold_distance:
        close_to_hs.append(True)
    else:
        close_to_hs.append(False)

# Add the list as a new column to the DataFrame
df['close_to_H/S'] = close_to_hs

In [71]:
df['close_to_H/S'].value_counts()

close_to_H/S
False    16995
True         5
Name: count, dtype: int64

In [72]:
#code here
# Set the hypothesis 

#H0: mu_house_close_H/S = mu_normal_house
#H1: mu_house_close_H/S != mu_normal_house

mu_house_close = df[df['close_to_H/S']==True]['median_house_value']
mu_normal_house = df[df['close_to_H/S']==False]['median_house_value']

st.ttest_ind(mu_house_close,mu_normal_house, equal_var=False)
#Houses Closer to either a school or hospital have a different value than houses that are not close to them

TtestResult(statistic=-17.174167998688404, pvalue=5.220018561223529e-05, df=4.145382282040222)