# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [3]:
df_grass = df[df['Type 1'] == 'Grass']['HP']
df_dragon = df[df['Type 2'] == 'Dragon']['HP']

In [4]:
#H0 mu_HP dragon = mu_HP grass
#H1 mu_HP dragon > mu_HP grass

In [5]:
alpha  = 0.05

In [6]:
t_stat, p_value = st.ttest_ind(df_grass, df_dragon, alternative='greater')

In [7]:
p_value

0.9942535406653913

In [8]:
if p_value < alpha:
    print('Hay suficiente evidencia para sugerir que la media de HP para los Pokemons tipo Dragon es mayor que la de los tipo Grass')
else:
    print('No hay suficiente evidencia para sugerir que la media de HP para los Pokemos tipo Dragon es mayor que la de los tipo Grass')

No hay suficiente evidencia para sugerir que la media de HP para los Pokemos tipo Dragon es mayor que la de los tipo Grass

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [9]:
df_legendary = df[df['Legendary'] == True]
df_non_legendary = df[df['Legendary'] == False]

In [10]:
#H0 = HP_legendary = HP_non_legendary
#H1 = HP_legendary != HP_non_legendary

In [15]:
meassures = ['HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed']

In [16]:
df_legendary.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [22]:
for i in meassures:
    print(i)
    print(st.ttest_ind(df_legendary[i], df_non_legendary[i], equal_var=False))
    alpha  = 0.05
    if p_value < alpha:
        print('Hay suficiente evidencia para sugerir que la media de ' + i +  ' para los Pokemons tipo Dragon es mayor que la de los tipo Grass')
    else:
        print('No hay suficiente evidencia para sugerir que la media de ' + i + ' para los Pokemos tipo Dragon es mayor que la de los tipo Grass')

HP
TtestResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13, df=79.52467830799894)
No hay suficiente evidencia para sugerir que la media de HP para los Pokemos tipo Dragon es mayor que la de los tipo Grass
Attack
TtestResult(statistic=10.438133539322203, pvalue=2.520372449236646e-16, df=75.88324448141854)
No hay suficiente evidencia para sugerir que la media de Attack para los Pokemos tipo Dragon es mayor que la de los tipo Grass
Defense
TtestResult(statistic=7.637078164784618, pvalue=4.8269984949193316e-11, df=77.7109511135786)
No hay suficiente evidencia para sugerir que la media de Defense para los Pokemos tipo Dragon es mayor que la de los tipo Grass
Sp. Atk
TtestResult(statistic=13.417449984138461, pvalue=1.5514614112239812e-21, df=74.24631137998881)
No hay suficiente evidencia para sugerir que la media de Sp. Atk para los Pokemos tipo Dragon es mayor que la de los tipo Grass
Sp. Def
TtestResult(statistic=10.015696613114878, pvalue=2.2949327864052826e-15, df=73.2589256447719)
No hay suficiente evidencia para sugerir que la media de Sp. Def para los Pokemos tipo Dragon es mayor que la de los tipo Grass
Speed
TtestResult(statistic=11.47504444631443, pvalue=1.049016311882451e-18, df=81.62110995711882)
No hay suficiente evidencia para sugerir que la media de Speed para los Pokemos tipo Dragon es mayor que la de los tipo Grass

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [23]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [24]:
#H0 = precio casas cerca hospital o colegio = precio casas lejos hospital o colegio
#H1 = precio casas cerca hospital o colegio != precio casas lejos hospital o colegio

In [25]:
# Función para calcular la distancia euclidiana

def euclidean_distance(x1, y1, x2, y2):
    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2)

In [26]:
# Coordenadas de la escuela y el hospital

school_coords = (-118, 37)
hospital_coords = (-122, 34)

In [27]:
# Calcular distancia de cada casa a la escuela y al hospital
df['distance_to_school'] = euclidean_distance(df['longitude'], df['latitude'], school_coords[0], school_coords[1])
df['distance_to_hospital'] = euclidean_distance(df['longitude'], df['latitude'], hospital_coords[0], hospital_coords[1])

In [28]:
# Dividir el conjunto de datos en casas cercanas y lejanas a la escuela o al hospital

close_to_school_or_hospital = df[(df['distance_to_school'] < 0.50) | (df['distance_to_hospital'] < 0.50)]
far_from_school_or_hospital = df[(df['distance_to_school'] >= 0.50) & (df['distance_to_hospital'] >= 0.50)]

In [29]:
# Realizar la prueba t de Student
t_stat, p_value = st.ttest_ind(close_to_school_or_hospital['median_house_value'], far_from_school_or_hospital['median_house_value'])

In [30]:
p_value

0.026799733071128685

In [31]:
# Comentar los hallazgos
alpha = 0.05
if p_value < alpha:
    print("Hay evidencia estadística significativa para rechazar la hipótesis nula.")

else:
    print("No hay evidencia estadística significativa para rechazar la hipótesis nula.")

Hay evidencia estadística significativa para rechazar la hipótesis nula.

In [33]:
t_stat, p_value = st.ttest_ind(close_to_school_or_hospital['median_house_value'], far_from_school_or_hospital['median_house_value'], alternative='greater')

In [34]:
p_value

0.9866001334644356

In [35]:
if p_value < alpha:
    print("Hay evidencia estadística significativa para rechazar la hipótesis nula.")
    print('Las casas cerca del hospital o colegio son más caras que las casas que están lejos del hospital')

else:
    print("No hay evidencia estadística significativa para rechazar la hipótesis nula.")

No hay evidencia estadística significativa para rechazar la hipótesis nula.

In [37]:
t_stat, p_value = st.ttest_ind(close_to_school_or_hospital['median_house_value'], far_from_school_or_hospital['median_house_value'], alternative='less')

In [38]:
p_value

0.013399866535564343

In [39]:
if p_value < alpha:
    print("Hay evidencia estadística significativa para rechazar la hipótesis nula.")
    print('Las casas cerca del hospital o colegio son más baratas que las casas que están lejos del hospital')

else:
    print("No hay evidencia estadística significativa para rechazar la hipótesis nula.")

Hay evidencia estadística significativa para rechazar la hipótesis nula.
Las casas cerca del hospital o colegio son más baratas que las casas que están lejos del hospital