# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [46]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.spatial import distance
from scipy.stats import ttest_ind

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [1]:
#Set the hypothesis

#H0: mu Dragon Type 1 HP > Grass  Type 1 HP
#H1: mu Dragon Type 1 HP <= Grass  Type 1 HP

In [20]:
#Determining the mean

dragon_hp = df[df['Type 1']== 'Dragon']['HP']
grass_hp = df[df['Type 1']== 'Grass']['HP']

In [21]:
# Perform independent samples t-test
t_statistic, p_value = st.ttest_ind(dragon_hp, grass_hp)

# Print results
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 3.590444254130357
p-value: 0.0005135938300306962

In [22]:
alpha = 0.05
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

We reject the null hypotesis

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [25]:
#Set the hypothesis

#H0: legendary_stats != non_legendary_st
#H1: legendary_stats = non_legendary_st
legendary_stats = df[df['Legendary'] == True][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
non_legendary_st = df[df['Legendary']== False][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]

In [36]:
results = st.ttest_ind(legendary_stats,non_legendary_st, equal_var=False)
results

TtestResult(statistic=array([ 8.98137048, 10.43813354,  7.63707816, 13.41744998, 10.01569661,
       11.47504445]), pvalue=array([1.00269117e-13, 2.52037245e-16, 4.82699849e-11, 1.55146141e-21,
       2.29493279e-15, 1.04901631e-18]), df=array([79.52467831, 75.88324448, 77.71095111, 74.24631138, 73.25892564,
       81.62110996]))

In [37]:
# Access the values inside the TtestResult object
t_statistic_values = results.statistic
p_values = results.pvalue
degrees_of_freedom = results.df

In [38]:
alpha = 0.05
for p in p_values:
    if p_value > alpha:
        print("We are not able to reject the null hypothesis")
    else:
        print("We reject the null hypotesis")

We reject the null hypotesis
We reject the null hypotesis
We reject the null hypotesis
We reject the null hypotesis
We reject the null hypotesis
We reject the null hypotesis

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [41]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head(10).round(0)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.0,34.0,15.0,5612.0,1283.0,1015.0,472.0,1.0,66900.0
1,-114.0,34.0,19.0,7650.0,1901.0,1129.0,463.0,2.0,80100.0
2,-115.0,34.0,17.0,720.0,174.0,333.0,117.0,2.0,85700.0
3,-115.0,34.0,14.0,1501.0,337.0,515.0,226.0,3.0,73400.0
4,-115.0,34.0,20.0,1454.0,326.0,624.0,262.0,2.0,65500.0
5,-115.0,34.0,29.0,1387.0,236.0,671.0,239.0,3.0,74000.0
6,-115.0,34.0,25.0,2907.0,680.0,1841.0,633.0,3.0,82400.0
7,-115.0,35.0,41.0,812.0,168.0,375.0,158.0,2.0,48500.0
8,-115.0,34.0,34.0,4789.0,1175.0,3134.0,1056.0,2.0,58400.0
9,-115.0,35.0,46.0,1497.0,309.0,787.0,271.0,2.0,48100.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [45]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [49]:
school_coords = (-118, 37)   # Coordinates of the school
hospital_coords = (-122, 34) # Coordinates of the hospital

The prices of houses close to either a school or a hospital are significantly different from those far from both.

In [50]:
def distance_house(school_coords,hospital_coords,df):
   # Calculate distances from each house to the school and hospital
    df['school_distance'] = df.apply(lambda row: distance.euclidean((row['longitude'], row['latitude']), school_coords), axis=1)
    df['hospital_distance'] = df.apply(lambda row: distance.euclidean((row['longitude'], row['latitude']), hospital_coords), axis=1)

    # Determine which houses are close to either a school or a hospital
    df['close_to_school'] = df['school_distance'] < 0.50
    df['close_to_hospital'] = df['hospital_distance'] < 0.50

    # Divide the dataset into houses close to either a school or a hospital and houses far from both
    df_close = df[(df['close_to_school'] | df['close_to_hospital'])]
    df_far = df[~(df['close_to_school'] | df['close_to_hospital'])]

    # Perform a statistical test to compare the prices of houses close to either a school or a hospital 
    # with those that are far from both.
    t_statistic, p_value = ttest_ind(df_close['median_house_value'], df_far['median_house_value'])

    # Check if the p-value is less than 0.05 (5% significance level)
    if p_value < 0.05:
        print("The prices of houses close to either a school or a hospital are significantly different from those far from both.")
    else:
        print("There is no significant difference in the prices of houses close to either a school or a hospital compared to those far from both.")

In [51]:
test = distance_house(school_coords,hospital_coords,df)

The prices of houses close to either a school or a hospital are significantly different from those far from both.