# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head(20)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,Mega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,Mega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False

In [6]:
df.shape

(800, 11)

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [4]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [5]:
df['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [7]:
grass_hp = df[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Grass')]['HP']
dragon_hp = df[(df['Type 1'] == 'Dragon') | (df['Type 2'] == 'Dragon')]['HP']

In [9]:
t_stat, p_val = st.ttest_ind(dragon_hp, grass_hp, alternative='greater')

t_stat, p_val

(4.4991348531252635, 7.009713739308821e-06)

Since the p-value is significantly smaller than the significance level (0.05), we reject the null hypothesis. This means that there is strong evidence to conclude that Dragon-type Pok√©mon have a significantly higher mean HP compared to Grass-type Pokemon at the 5% significance level.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [10]:
legendary = df[df['Legendary'] == True]
non_legendary = df[df['Legendary'] == False]

# List of stats to compare
stats_to_compare = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Perform two-sample t-tests for each stat and store the results
results = {}
for stat in stats_to_compare:
    t_stat, p_val = st.ttest_ind(legendary[stat], non_legendary[stat])
    results[stat] = {'t-statistic': t_stat, 'p-value': p_val}

results

{'HP': {'t-statistic': 8.036124405043928, 'p-value': 3.330647684846191e-15},
 'Attack': {'t-statistic': 10.397321023700622,
  'p-value': 7.827253003205333e-24},
 'Defense': {'t-statistic': 7.181240122992339,
  'p-value': 1.5842226094427255e-12},
 'Sp. Atk': {'t-statistic': 14.191406210846289,
  'p-value': 6.314915770427266e-41},
 'Sp. Def': {'t-statistic': 11.03775106120522,
  'p-value': 1.8439809580409594e-26},
 'Speed': {'t-statistic': 9.765234331931898,
  'p-value': 2.3540754436898437e-21}}

Since all the p-values are significantly less than 0.05, we reject the null hypothesis for each stat. This means there is strong evidence to suggest that Legendary Pokemon have different stats compared to Non-Legendary Pokemon across all six categories (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed).

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [12]:
# Function to calculate Euclidean distance between two points
def euclidean_distance(point1, point2):
    return np.sqrt((point1[0] - point2[0])**2 + (point1[1] - point2[1])**2)

In [14]:
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Calculate distances from each house to the school and hospital
df['distance_to_school'] = df.apply(lambda row: euclidean_distance((row['longitude'], row['latitude']), school_coords), axis=1)
df['distance_to_hospital'] = df.apply(lambda row: euclidean_distance((row['longitude'], row['latitude']), hospital_coords), axis=1)

In [16]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_to_school,distance_to_hospital
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,4.638125,7.692347
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,4.384165,7.540617
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.773856,7.446456

In [17]:
# Determine which houses are close to either the school or the hospital
df['close_to_school'] = df['distance_to_school'] < 0.50
df['close_to_hospital'] = df['distance_to_hospital'] < 0.50

# Divide the dataset into two groups: houses close to either the school or the hospital, and houses far from both
close_to_school_or_hospital = df[(df['close_to_school'] == True) | (df['close_to_hospital'] == True)]
far_from_both = df[(df['close_to_school'] == False) & (df['close_to_hospital'] == False)]

In [19]:
t_statistic, p_value = st.ttest_ind(close_to_school_or_hospital['median_house_value'], far_from_both['median_house_value'])

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("The difference in median house values between houses close to either a school or hospital and houses far from both is statistically significant using the t-test.")
else:
    print("There is no significant difference in median house values between houses close to either a school or hospital and houses far from both using the t-test.")

t_statistic, p_value

The difference in median house values between houses close to either a school or hospital and houses far from both is statistically significant using the t-test.

(-2.2146147257665834, 0.026799733071128685)