# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [20]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.spatial import distance

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [3]:
#code here
a = 0.05

dragon = df[df['Type 1'] == 'Dragon']['HP']
grass = df[df['Type 1'] == 'Grass']['HP']
dragon

159     41
160     61
161     91
365     75
366     75
406     45
407     65
408     95
409     95
417     80
418     80
419     80
420     80
425    105
426    105
491     58
492     68
493    108
494    108
671     46
672     66
673     76
682     77
706    100
707    100
710    125
711    125
712    125
774     45
775     68
776     90
794    108
Name: HP, dtype: int64

In [6]:
# With my stats defined and the significance level difine (a) time to test
# H0: dragon's HP average =< grass's HP
# H1: dragon's HP average > grass's HP

stat, pvalue = st.ttest_ind(dragon, grass, equal_var=False, alternative="greater")
pvalue

print(
    f"""So the H0 is discarted by the p-value of {round(pvalue,5)}, it is prove that dragons have somewhat greater mean HP than grass pokemon."""
)
pvalue

So the H0 is discarted by the p-value of 0.0008, it is prove that dragons have somewhat greater mean HP than grass pokemon.

0.0007993609745420598

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [15]:
# Filtering from legendary and non-legendary
a = 0.05
legendary = df[df['Legendary'] == True]
nLegend = df[df['Legendary'] == False]
legencol = legendary.select_dtypes('number').drop(columns= ['Generation'])
nlegencol = nLegend.select_dtypes('number').drop(columns= ['Generation'])
nlegencol.columns

Index(['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'], dtype='object')

In [18]:
# With my stats defined and the significance level difine (a) time to test
# H0: legendary's stats average =< non-legendary's stats average
# H1: legendary's stats average > non-legendary's stats average
tests = {}
for col in nlegencol.columns:
    stat, pvalue = st.ttest_ind(legendary[col], nLegend[col], equal_var=False, alternative="greater")
    tests[col] = pvalue

print(
    f"""It is safe to say that for all stats we can reject the null hypothesis, here are the results of p-values to back it up:
{tests}"""
)

It is safe to say that for all stats we can reject the null hypothesis, here are the results of p-values to back it up:
{'HP': 5.013455854017642e-14, 'Attack': 1.260186224618323e-16, 'Defense': 2.4134992474596658e-11, 'Sp. Atk': 7.757307056119906e-22, 'Sp. Def': 1.1474663932026413e-15, 'Speed': 5.245081559412255e-19}

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [72]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [73]:
# Making a column with longitude and latitude to compare with school and hospital location
df['new_loc'] = df.apply(lambda x: (x['longitude'], x['latitude']), axis= 1)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new_loc
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,"(-114.31, 34.19)"
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,"(-114.47, 34.4)"
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,"(-114.56, 33.69)"
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,"(-114.57, 33.64)"
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,"(-114.57, 33.57)"
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,"(-124.26, 40.58)"
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,"(-124.27, 40.69)"
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,"(-124.3, 41.84)"
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,"(-124.3, 41.8)"
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,"(-124.35, 40.54)"

In [76]:
# Setting up the calculation of distance and flaging it in a new column
school = (-118, 37)
hospital = (-122, 34)

def checkProx(row):
    s_dist = distance.euclidean(row, school)
    h_dist = distance.euclidean(row, hospital)

    if s_dist < 5 or h_dist < 5:
        return 'close'
    else:
        return 'far'

df['prox'] = df['new_loc'].apply(checkProx)

In [82]:
# Dividing the close by the far
close = df[df['prox'] == 'close']
far = df[df['prox'] == 'far']

# Applying proper test to see if houses close the hospital or school are on average more expensive
# H0: houses that are close prices is <= houses that are far prices
# H1: houses that are close prices is > houses that are far prices

stat, pvalue = st.ttest_ind(close['median_house_value'], far['median_house_value'], equal_var=False, alternative= 'greater')

print(
    f"""It is noticeble that the prices close by the hospital and school are on averge higher, the p-value got to be {pvalue}, making the H0 be discarted."""
)

It is noticeble that the prices close by the hospital and school are on averge higher, the p-value got to be 0.0, making the H0 be discarted.