# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [3]:
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [22]:
df['Type 2'].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [6]:
dragon = df[df['Type 1'] == "Dragon"]['HP']
grass = df[df['Type 1'] == "Grass"]['HP']

In [17]:
print(dragon.mean(),grass.mean())

83.3125 67.27142857142857

In [18]:
# H0: mu_dragon(HP) <= mu_grass(HP)
# H1: mu_dragon(HP) > mu_grass(HP)

In [19]:
alpha = 0.05

In [20]:
_, p_value = st.ttest_ind(dragon, grass, equal_var = False)

In [21]:
if p_value > alpha:
    print("we fail to reject the null hypothesis")
else:
    print("we reject null hypothesis")

we reject null hypothesis

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [28]:
df['stats'] = df['HP']+ df['Attack'] + df['Defense']+ df['Sp. Atk']+ df['Sp. Def']+ df['Speed']

In [29]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,stats
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [34]:
legendary = df[df['Legendary'] == True]['stats']
non_legendary = df[df['Legendary'] == False]['stats']

In [44]:
legendary

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: stats, Length: 65, dtype: int64

In [43]:
non_legendary

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: stats, Length: 735, dtype: int64

In [37]:
# H0: mu_legendary(stats) = mu_nonlegendary(stats)
# H1: mu_legendary(stats) =! mu_nonlegendary(stats)

In [45]:
_, pvalue = st.ttest_ind(legendary, non_legendary, equal_var = False)
pvalue

9.357954335957446e-47

In [46]:
if p_value > alpha:
    print("we fail to reject the null hypothesis")
else:
    print("we reject null hypothesis")

we reject null hypothesis

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [48]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [49]:
df['close/not'] = ["close" if (-117.5 >= x >= -118.50 and 37.50>= y >= 36.50) or
                  (-121.5>= x >= -122.50 and 33.50>= y >= 34.50) else "not close" for x, y in zip(df['longitude'], df['latitude'])]

In [129]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,close/not,close/not close
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,not close,not close
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,not close,not close
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,not close,not close
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,not close,not close
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,not close,not close
...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,not close,not close
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,not close,not close
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,not close,not close
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,not close,not close
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,not close,not close

In [51]:
df['close/not'].value_counts()

not close    16989
close           11
Name: close/not, dtype: int64

In [52]:
close_houses = df[df['close/not'] == "close"]['median_house_value']
not_close_houses = df[df['close/not'] == "not close"]['median_house_value']

In [54]:
_, Pvalue = st.ttest_ind(close_houses, not_close_houses, equal_var = False)
Pvalue

2.985983088783684e-06

In [55]:
if Pvalue > alpha:
    print("we fail to reject the null hypothesis")
else:
    print("we reject null hypothesis")

we reject null hypothesis

## 2nd solution

In [124]:
def calculate_euclidean_distance(x1, y1, x2, y2):
    return ((x1-x2)**2 + (y1-y2)**2) ** 0.5

In [128]:
x_hospital = -122
y_hospital = 34
x_school = -118
y_school = 37

def close_or_not(row):
    distance_to_hospital = calculate_euclidean_distance(x_hospital, y_hospital, row['longitude'], row['latitude'])
    distance_to_school = calculate_euclidean_distance(x_school, y_school, row['longitude'], row['latitude'])
    if distance_to_hospital < 0.5 or distance_to_school < 0.5:
        return "close"
    else:
        return "not close"

df['close/not close'] = df.apply(close_or_not, axis =1)

In [126]:
df['close/not close'].value_counts()

not close    16995
close            5
Name: close/not close, dtype: int64

In [130]:
close = df[df['close/not close'] == "close"]['median_house_value']
not_close = df[df['close/not close'] == "not close"]['median_house_value']

In [131]:
_, Pvalue = st.ttest_ind(close, not_close, equal_var = False)
Pvalue

5.220018561223529e-05

In [132]:
if Pvalue > alpha:
    print("we fail to reject the null hypothesis")
else:
    print("we reject null hypothesis")

we reject null hypothesis