# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [13]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [15]:
pokemon_data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
pokemon_data

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [18]:
#code here
from scipy.stats import ttest_ind

# Filter the data for Dragon and Grass types
dragon_hp = pokemon_data[pokemon_data['Type 1'] == 'Dragon']['HP']
grass_hp = pokemon_data[pokemon_data['Type 1'] == 'Grass']['HP']

# Perform the Two Sample T-Test
t_stat, p_value = ttest_ind(dragon_hp, grass_hp, alternative='greater')

# Calculate the mean HP for both types
mean_dragon_hp = dragon_hp.mean()
mean_grass_hp = grass_hp.mean()

t_stat, p_value, mean_dragon_hp, mean_grass_hp

(3.590444254130357, 0.0002567969150153481, 83.3125, 67.27142857142857)

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [20]:
#code here
# Filter the data for Legendary and Non-Legendary PokÃ©mon
legendary = pokemon_data[pokemon_data['Legendary'] == True]
non_legendary = pokemon_data[pokemon_data['Legendary'] == False]

# Initialize an empty dictionary to store the results
results = {}

# Perform the Two Sample T-Test for each stat
stats = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
for stat in stats:
    t_stat, p_value = ttest_ind(legendary[stat], non_legendary[stat], alternative='two-sided')
    results[stat] = (t_stat, p_value, legendary[stat].mean(), non_legendary[stat].mean())

results

{'HP': (8.036124405043928,
  3.3306476848461913e-15,
  92.73846153846154,
  67.18231292517007),
 'Attack': (10.397321023700622,
  7.827253003205333e-24,
  116.67692307692307,
  75.66938775510204),
 'Defense': (7.181240122992339,
  1.5842226094427255e-12,
  99.66153846153846,
  71.55918367346939),
 'Sp. Atk': (14.191406210846289,
  6.314915770427265e-41,
  122.18461538461538,
  68.45442176870748),
 'Sp. Def': (11.03775106120522,
  1.8439809580409597e-26,
  105.93846153846154,
  68.89251700680272),
 'Speed': (9.765234331931898,
  2.3540754436898437e-21,
  100.18461538461538,
  65.45578231292517)}

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [26]:
ho_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
ho_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [28]:
import numpy as np

# Function to calculate Euclidean distance
def calculate_distance(lon1, lat1, lon2, lat2):
    return np.sqrt((lon1 - lon2)**2 + (lat1 - lat2)**2)

# Coordinates of the school and hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Calculate distances from each house to the school and hospital
ho_df['distance_to_school'] = calculate_distance(ho_df['longitude'], ho_df['latitude'], school_coords[0], school_coords[1])
ho_df['distance_to_hospital'] = calculate_distance(ho_df['longitude'], ho_df['latitude'], hospital_coords[0], hospital_coords[1])

# Determine if houses are close to school or hospital (distance < 0.5)
ho_df['close_to_school'] = ho_df['distance_to_school'] < 0.5
ho_df['close_to_hospital'] = ho_df['distance_to_hospital'] < 0.5

# Create a new column indicating if the house is close to either a school or hospital
ho_df['close_to_school_or_hospital'] = ho_df['close_to_school'] | ho_df['close_to_hospital']

# Split the dataset into houses close to either school or hospital and those that are not
close_houses = ho_df[ho_df['close_to_school_or_hospital']]
far_houses = ho_df[~ho_df['close_to_school_or_hospital']]

# Import the necessary libraries for statistical testing
from scipy.stats import ttest_ind

# Perform an independent t-test
t_stat, p_value = ttest_ind(close_houses['median_house_value'], far_houses['median_house_value'], equal_var=False)

# Display the result
(t_stat, p_value, close_houses['median_house_value'].mean(), far_houses['median_house_value'].mean(), len(close_houses), len(far_houses))

(-17.174167998688404,
 5.220018561223529e-05,
 92460.0,
 207334.6990291262,
 5,
 16995)