# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [25]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [27]:
#H0 HP of Dragon > HP of Grass
#H1 HP of Dragon !> HP of Grass

#We'll extract HP values for Pokémon where 'Type 1' or 'Type 2' is either "Dragon" or "Grass."

from scipy.stats import ttest_ind

dragon_hp = df[(df['Type 1'] == 'Dragon') | (df['Type 2'] == 'Dragon')]['HP']
grass_hp = df[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Grass')]['HP']


t_stat, p_value = ttest_ind(dragon_hp, grass_hp, equal_var=False) 

print("T-Statistic:", t_stat)
print("P-Value:", p_value)

if p_value < 0.05:
    print("We reject the null hypothesis: There is a significant difference in HP between Dragon and Grass types.")
else:
    print("We fail to reject the null hypothesis: There is no significant difference in HP between Dragon and Grass types.")

T-Statistic: 4.097528915272702
P-Value: 0.00010181538122353855
We reject the null hypothesis: There is a significant difference in HP between Dragon and Grass types.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [31]:
# Filter Data into Legendary and Non-Legendary Groups

from scipy.stats import f_oneway
from scipy.stats import ttest_ind

legendary = df[df['Legendary'] == True]
non_legendary = df[df['Legendary'] == False]

In [39]:
#ANOVA

stats_list = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
anova_results = {}

for stat in stats_list:
    # Remove missing data if any
    group1 = legendary[stat].dropna()
    group2 = non_legendary[stat].dropna()
    
    # Perform ANOVA
    f_stat, p_value = f_oneway(group1, group2)
    
    # Store results in a dictionary
    anova_results[stat] = {'F-Statistic': f_stat, 'P-Value': p_value}

# Print the ANOVA results
for stat, result in anova_results.items():
    print(f"{stat} - F-Statistic: {result['F-Statistic']:.3f}, P-Value: {result['P-Value']:.4f}")
    if result['P-Value'] < 0.05:
        print(f"  -> Significant differences found in {stat} between Legendary and Non-Legendary Pokémon.\n")
    else:
        print(f"  -> No significant differences found in {stat} between Legendary and Non-Legendary Pokémon.\n")

HP - F-Statistic: 64.579, P-Value: 0.0000
  -> Significant differences found in HP between Legendary and Non-Legendary Pokémon.

Attack - F-Statistic: 108.104, P-Value: 0.0000
  -> Significant differences found in Attack between Legendary and Non-Legendary Pokémon.

Defense - F-Statistic: 51.570, P-Value: 0.0000
  -> Significant differences found in Defense between Legendary and Non-Legendary Pokémon.

Sp. Atk - F-Statistic: 201.396, P-Value: 0.0000
  -> Significant differences found in Sp. Atk between Legendary and Non-Legendary Pokémon.

Sp. Def - F-Statistic: 121.832, P-Value: 0.0000
  -> Significant differences found in Sp. Def between Legendary and Non-Legendary Pokémon.

Speed - F-Statistic: 95.360, P-Value: 0.0000
  -> Significant differences found in Speed between Legendary and Non-Legendary Pokémon.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [35]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [40]:
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Define the Euclidean distance calculation function
def euclidean_distance(x1, y1, x2, y2):
    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2)


# Calculate distances from each house to the school and to the hospital
df['dist_to_school'] = euclidean_distance(school_coords[0], school_coords[1], df['longitude'], df['latitude'])
df['dist_to_hospital'] = euclidean_distance(hospital_coords[0], hospital_coords[1], df['longitude'], df['latitude'])